

h1{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    font-family: sans-serif;
    text-shadow: 1px 1px 15px black;
}
.cards{
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 40px;
    padding-right: 40px;
    float: left;  
    background-color: white;
    border-radius: 10px;
    box-shadow:2px 2px 15px rgb(0, 0, 0)  ;

}
h5{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: xx-large;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
button{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    align-items: center;
    margin-left: 35px;
    background-color: blue;    
}
